<div class="download">
    <a class="button is-rounded" href="https://github.com/javro/javro/releases/download/v0.0.1/Javro-0.0.1-mac.zip">
        <span class="icon">
            <i class="fa fa-apple"></i>
        </span>
        <span>Download for Mac</span>
    </a>
    <a class="button is-rounded" href="https://github.com/javro/javro/releases/download/v0.0.1/Javro-0.0.1.AppImage">
        <span class="icon">
            <i class="fa fa-linux"></i>
        </span>
        <span>Download for Linux</span>
    </a>
    <a class="button is-rounded" href="https://github.com/javro/javro/releases/download/v0.0.1/Javro-Setup-0.0.1.exe">
        <span class="icon">
            <i class="fa fa-windows"></i>
        </span>
        <span>Download for Windows</span>
    </a>
</div>
