<div class="download">
    <a class="button is-rounded" href="https://github.com/javro/javro/releases/download/v0.1.0/Javro-0.1.0-mac.zip">
        <span class="icon">
            <i class="fa fa-apple"></i>
        </span>
        <span>Download for Mac</span>
    </a>
    <a class="button is-rounded" href="https://github.com/javro/javro/releases/download/v0.1.0/Javro-0.1.0.AppImage">
        <span class="icon">
            <i class="fa fa-linux"></i>
        </span>
        <span>Download for Linux</span>
    </a>
    <a class="button is-rounded" href="https://github.com/javro/javro/releases/download/v0.1.0/Javro-Setup-0.1.0.exe">
        <span class="icon">
            <i class="fa fa-windows"></i>
        </span>
        <span>Download for Windows</span>
    </a>
</div>
