<div class="download">
    <a class="button is-rounded" href="https://javro-update-server.now.sh/download/darwin">
        <span class="icon">
            <i class="fa fa-apple"></i>
        </span>
        <span>Download for Mac</span>
    </a>
    <a class="button is-rounded" href="https://javro-update-server.now.sh">
        <span class="icon">
            <i class="fa fa-linux"></i>
        </span>
        <span>Download for Linux</span>
    </a>
    <a class="button is-rounded" href="https://javro-update-server.now.sh/download/exe">
        <span class="icon">
            <i class="fa fa-windows"></i>
        </span>
        <span>Download for Windows</span>
    </a>
</div>
