:root {
    --brand-color: #FF634D;
    --red-color: hsl(348, 100%, 61%);
}

.demo {
    width: 70%;
    margin: 0 auto;
    margin-bottom: -300px;
}

.demo img {
    border-radius: 5px;
}

.highlight, em {
    background-color: var(--red-color);
    padding: 5px;
    border-radius: 5px;
    font-style: normal;
    color: white;
    font-weight: bold;
}

.download {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.navbar-item img {
    max-height: 5.75rem;
}

@media (max-width: 600px) {
    .demo {
        width: 100%;
    }
}

/* Bulma overwrite */

.hero {
    margin-bottom: 300px;
}

.hero .hero-body .subtitle {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.hero.is-danger a.navbar-item:hover {
    background: none;
}
